<!DOCTYPE html>
<!-- This is an HTML comment, you won't see it on the page -->
<!-- Head section -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COMP0034 Introduction to HTML - Basic page structure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.css') }}">
</head>
<!-- Body section -->
<body>
<h1>The first HTML page</h1>
<p class="text-decoration-underline">Welcome to HMTL!</p>
<div class='container'>
<img src="{{ url_for('static', filename='/img/chart.png') }}" width="100%" alt="Paralympics line chart showing participants over time">
</div>
</body>
</html>